@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/proxima-nova.otf');
}


@font-face {
    font-family: "Mr Eaves";
    src: url('../fonts/mr-eaves.ttf');
}


@font-face {
    font-family: tahu;
    src: url('../fonts/tahu.ttf');
}


@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal;
}


@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
}


@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}


@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: bold;
}